button, .btn {
    background-color: #f1f1f1;
    color: black;
    font-size: 16px;
    padding: 6px 6px;
    border: none;
    width: auto;
    height: 100%;
    cursor: pointer;
    border-radius: 5px;
    text-align: center;
    text-decoration: none;
}

.primary {
    background-color: #005272;
    color: white;
}