.project-logo {
    display: flex;
    align-items: center;
    position: relative;

    .logo {
        width: 32px;
        height: 32px;
    }

    .title {
        font-size: 15px;
        font-weight: 400;
        vertical-align: middle;
    }

    a.title {
        text-decoration: none;
    }

    .clear-project {
        width: auto;
        height: auto;
        font-size: 12px;
        position: absolute;
        right: 0px;
    }
}