.project {
    display: inline-block;
    width: 270px;
    height: 100%;
    margin-left: 5px;
    vertical-align: top;
    background-color: white;
    border-radius: 6px;

    &.metric {
        border: unset;
    }

    &.weighted {
        text-align: center;
        width: 120px;
        background-color: hsl(0,0%,90.5%);
    }

    &.project-item {
        padding: 0 10px;
        background-color: hsl(0,0%,90.5%);
    }

    .project-logo {
        display: flex;
        align-items: center;
        justify-content: space-between;
    
        .logo {
            width: 30px;
            height: 100%;
        }
    
        a {
            text-decoration: none;
        }
    
        .clear-project {
            width: auto;
            height: auto;
            font-size: 12px;
            background-color: red;
            color: white;
        }
    }
}