.tooltip {
    position: relative;
    display: inline-block;
    border-bottom: 1px dotted black;
}

.tooltip .tooltiptext {
    visibility: hidden;
    width: auto;
    min-width: 500px;
    background-color: black;
    color: #fff;
    border-radius: 6px;
    padding: 10px;
    top: -5px;
    left: 105%;
    

    /* Position the tooltip */
    position: absolute;
    z-index: 1;
}

.tooltip:hover .tooltiptext {
    visibility: visible;
}

.tooltip .tooltiptext {
    opacity: 0;
    transition: visibility 0.5s 0s, opacity 0.5s linear;
}
  
.tooltip:hover .tooltiptext {
    opacity: 1;
}

.tooltiptext {
    .title {
        font-size: 25px;
    }

    .title,
    .equation {
        font-weight: bold;
        display: block
    }

    .definition,
    .metric,
    .result {
        display: block;
        margin: 10px 0;
    }

    .metric .equation {
        margin: 10px 0;
        color: red;
    }

    .definition ul li {
        margin: 2px 0;
    }

    .metric .row {
        display: grid;
        grid-template-columns: 30% 70%;
        row-gap: 10px;
    }

    .metric .title,
    .result .title {
        margin: 8px 0px;
    }

    a {
        color: red;
    }
}
